<a href="https://colab.research.google.com/github/MarquesThiago/analist/blob/main/C%C3%B3pia_de_train_framework_spark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# instalar as dependÃªncias
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://archive.apache.org/dist/spark/spark-2.4.4/spark-2.4.4-bin-hadoop2.7.tgz
!tar xf spark-2.4.4-bin-hadoop2.7.tgz
!pip install -q findspark

In [2]:
!sudo apt-get install openjdk-8-jdk-headless -qq > /dev/null
!sudo add-apt-repository ppa:webupd8team/java
!sudo apt-get update
!sudo apt-get install oracle-java8-installer
!export PYSPARK_SUBMIT_ARGS="--master local[3] pyspark-shell"
!sudo apt-get install openjdk-8-jdk

 The Oracle JDK License has changed for releases starting April 16, 2019.

The new Oracle Technology Network License Agreement for Oracle Java SE is substantially different from prior Oracle JDK licenses. The new license permits certain uses, such as personal use and development use, at no cost -- but other uses authorized under prior Oracle JDK licenses may no longer be available. Please review the terms carefully before downloading and using this product. An FAQ is available here: https://www.oracle.com/technetwork/java/javase/overview/oracle-jdk-faqs.html

Oracle Java downloads now require logging in to an Oracle account to download Java updates, like the latest Oracle Java 8u211 / Java SE 8u212. Because of this I cannot update the PPA with the latest Java (and the old links were broken by Oracle).

For this reason, THIS PPA IS DISCONTINUED.

UPDATE:

For Oracle Java 17, see a different PPA -> https://www.linuxuprising.com/2021/09/how-to-install-oracle-java-17-lts-on.html

Old description:

Oracle Java (JDK) Installer (automatically downloads and installs Oracle JDK8). There are no actual Java files in this PPA.

Important -> Why Oracle Java 7 And 6 Installers No Longer Work: http://www.webupd8.org/2017/06/why-oracle-java-7-and-6-installers-no.html

Update: Oracle Java 9 has reached end of life: http://www.oracle.com/technetwork/java/javase/downloads/jdk9-downloads-3848520.html

The PPA supports Ubuntu 18.10, 18.04, 16.04, 14.04 and 12.04.

More info (and Ubuntu installation instructions):
- http://www.webupd8.org/2012/09/install-oracle-java-8-in-ubuntu-via-ppa.html

Debian installation instructions:
- Oracle Java 8: http://www.webupd8.org/2014/03/how-to-install-oracle-java-8-in-debian.html
 More info: https://launchpad.net/~webupd8team/+archive/ubuntu/java
Press [ENTER] to continue or Ctrl-c to cancel adding it.


Get:1 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Get:2 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Ign:3 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Get:4 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease [1,581 B]
Hit:5 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:6 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Packages [950 kB]
Hit:8 http://archive.ubuntu.com/ubuntu bionic InRelease
Hit:9 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Get:10 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Hit:11 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Get:12 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,992 kB]
Hit:13 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Get:14 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [83.3 kB]
Hit:15 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:16 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,324 kB]
Get:17 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,546 kB]
Get:18 http://ppa.launchpad.net/webupd8team/java/ubuntu bionic InRelease [15.4 kB]
Get:19 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [3,425 kB]
Fetched 11.5 MB in 4s (3,059 kB/s)
Reading package lists... Done
Hit:1 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease
Ign:2 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:3 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Hit:4 http://archive.ubuntu.com/ubuntu bionic InRelease
Hit:5 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Hit:6 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Hit:7 http://archive.ubuntu.com/ubuntu bionic-updates InRelease
Hit:8 http://security.ubuntu.com/ubuntu bionic-security InRelease
Hit:10 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Hit:11 http://archive.ubuntu.com/ubuntu bionic-backports InRelease
Hit:12 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Hit:13 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Hit:14 http://ppa.launchpad.net/webupd8team/java/ubuntu bionic InRelease
Reading package lists... Done
Reading package lists... Done
Building dependency tree
Reading state information... Done
Package oracle-java8-installer is not available, but is referred to by another package.
This may mean that the package is missing, has been obsoleted, or
is only available from another source

E: Package 'oracle-java8-installer' has no installation candidate
Reading package lists... Done
Building dependency tree
Reading state information... Done
The following package was automatically installed and is no longer required:
  libnvidia-common-460
Use 'sudo apt autoremove' to remove it.
The following additional packages will be installed:
  fonts-dejavu-core fonts-dejavu-extra libatk-wrapper-java
  libatk-wrapper-java-jni libgail-common libgail18 libgtk2.0-0 libgtk2.0-bin
  libgtk2.0-common libxxf86dga1 openjdk-8-jre x11-utils
Suggested packages:
  gvfs openjdk-8-demo openjdk-8-source visualvm mesa-utils
The following NEW packages will be installed:
  fonts-dejavu-core fonts-dejavu-extra libatk-wrapper-java
  libatk-wrapper-java-jni libgail-common libgail18 libgtk2.0-0 libgtk2.0-bin
  libgtk2.0-common libxxf86dga1 openjdk-8-jdk openjdk-8-jre x11-utils
0 upgraded, 13 newly installed, 0 to remove and 12 not upgraded.
Need to get 9,395 kB of archives.
After this operation, 22.6 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic/main amd64 libxxf86dga1 amd64 2:1.1.4-1 [13.7 kB]
Get:2 http://archive.ubuntu.com/ubuntu bionic/main amd64 fonts-dejavu-core all 2.37-1 [1,041 kB]
Get:3 http://archive.ubuntu.com/ubuntu bionic/main amd64 fonts-dejavu-extra all 2.37-1 [1,953 kB]
Get:4 http://archive.ubuntu.com/ubuntu bionic/main amd64 x11-utils amd64 7.7+3build1 [196 kB]
Get:5 http://archive.ubuntu.com/ubuntu bionic/main amd64 libatk-wrapper-java all 0.33.3-20ubuntu0.1 [34.7 kB]
Get:6 http://archive.ubuntu.com/ubuntu bionic/main amd64 libatk-wrapper-java-jni amd64 0.33.3-20ubuntu0.1 [28.3 kB]
Get:7 http://archive.ubuntu.com/ubuntu bionic/main amd64 libgtk2.0-common all 2.24.32-1ubuntu1 [125 kB]
Get:8 http://archive.ubuntu.com/ubuntu bionic/main amd64 libgtk2.0-0 amd64 2.24.32-1ubuntu1 [1,769 kB]
Get:9 http://archive.ubuntu.com/ubuntu bionic/main amd64 libgail18 amd64 2.24.32-1ubuntu1 [14.2 kB]
Get:10 http://archive.ubuntu.com/ubuntu bionic/main amd64 libgail-common amd64 2.24.32-1ubuntu1 [112 kB]
Get:11 http://archive.ubuntu.com/ubuntu bionic/main amd64 libgtk2.0-bin amd64 2.24.32-1ubuntu1 [7,536 B]
Get:12 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 openjdk-8-jre amd64 8u342-b07-0ubuntu1~18.04 [69.6 kB]
Get:13 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 openjdk-8-jdk amd64 8u342-b07-0ubuntu1~18.04 [4,032 kB]
Fetched 9,395 kB in 3s (3,363 kB/s)
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76, <> line 13.)
debconf: falling back to frontend: Readline
debconf: unable to initialize frontend: Readline
debconf: (This frontend requires a controlling tty.)
debconf: falling back to frontend: Teletype
dpkg-preconfigure: unable to re-open stdin:
Selecting previously unselected package libxxf86dga1:amd64.
(Reading database ... 124279 files and directories currently installed.)
Preparing to unpack .../00-libxxf86dga1_2%3a1.1.4-1_amd64.deb ...
Unpacking libxxf86dga1:amd64 (2:1.1.4-1) ...
Selecting previously unselected package fonts-dejavu-core.
Preparing to unpack .../01-fonts-dejavu-core_2.37-1_all.deb ...
Unpacking fonts-dejavu-core (2.37-1) ...
Selecting previously unselected package fonts-dejavu-extra.
Preparing to unpack .../02-fonts-dejavu-extra_2.37-1_all.deb ...
Unpacking fonts-dejavu-extra (2.37-1) ...
Selecting previously unselected package x11-utils.
Preparing to unpack .../03-x11-utils_7.7+3build1_amd64.deb ...
Unpacking x11-utils (7.7+3build1) ...
Selecting previously unselected package libatk-wrapper-java.
Preparing to unpack .../04-libatk-wrapper-java_0.33.3-20ubuntu0.1_all.deb ...
Unpacking libatk-wrapper-java (0.33.3-20ubuntu0.1) ...
Selecting previously unselected package libatk-wrapper-java-jni:amd64.
Preparing to unpack .../05-libatk-wrapper-java-jni_0.33.3-20ubuntu0.1_amd64.deb ...
Unpacking libatk-wrapper-java-jni:amd64 (0.33.3-20ubuntu0.1) ...
Selecting previously unselected package libgtk2.0-common.
Preparing to unpack .../06-libgtk2.0-common_2.24.32-1ubuntu1_all.deb ...
Unpacking libgtk2.0-common (2.24.32-1ubuntu1) ...
Selecting previously unselected package libgtk2.0-0:amd64.
Preparing to unpack .../07-libgtk2.0-0_2.24.32-1ubuntu1_amd64.deb ...
Unpacking libgtk2.0-0:amd64 (2.24.32-1ubuntu1) ...
Selecting previously unselected package libgail18:amd64.
Preparing to unpack .../08-libgail18_2.24.32-1ubuntu1_amd64.deb ...
Unpacking libgail18:amd64 (2.24.32-1ubuntu1) ...
Selecting previously unselected package libgail-common:amd64.
Preparing to unpack .../09-libgail-common_2.24.32-1ubuntu1_amd64.deb ...
Unpacking libgail-common:amd64 (2.24.32-1ubuntu1) ...
Selecting previously unselected package libgtk2.0-bin.
Preparing to unpack .../10-libgtk2.0-bin_2.24.32-1ubuntu1_amd64.deb ...
Unpacking libgtk2.0-bin (2.24.32-1ubuntu1) ...
Selecting previously unselected package openjdk-8-jre:amd64.
Preparing to unpack .../11-openjdk-8-jre_8u342-b07-0ubuntu1~18.04_amd64.deb ...
Unpacking openjdk-8-jre:amd64 (8u342-b07-0ubuntu1~18.04) ...
Selecting previously unselected package openjdk-8-jdk:amd64.
Preparing to unpack .../12-openjdk-8-jdk_8u342-b07-0ubuntu1~18.04_amd64.deb ...
Unpacking openjdk-8-jdk:amd64 (8u342-b07-0ubuntu1~18.04) ...
Setting up libgtk2.0-common (2.24.32-1ubuntu1) ...
Setting up fonts-dejavu-core (2.37-1) ...
Setting up libxxf86dga1:amd64 (2:1.1.4-1) ...
Setting up fonts-dejavu-extra (2.37-1) ...
Setting up libgtk2.0-0:amd64 (2.24.32-1ubuntu1) ...
Setting up libgail18:amd64 (2.24.32-1ubuntu1) ...
Setting up x11-utils (7.7+3build1) ...
Setting up libgail-common:amd64 (2.24.32-1ubuntu1) ...
Setting up libatk-wrapper-java (0.33.3-20ubuntu0.1) ...
Setting up libgtk2.0-bin (2.24.32-1ubuntu1) ...
Setting up libatk-wrapper-java-jni:amd64 (0.33.3-20ubuntu0.1) ...
Setting up openjdk-8-jre:amd64 (8u342-b07-0ubuntu1~18.04) ...
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/policytool to provide /usr/bin/policytool (policytool) in auto mode
Setting up openjdk-8-jdk:amd64 (8u342-b07-0ubuntu1~18.04) ...
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/appletviewer to provide /usr/bin/appletviewer (appletviewer) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/jconsole to provide /usr/bin/jconsole (jconsole) in auto mode
Processing triggers for man-db (2.8.3-2ubuntu0.1) ...
Processing triggers for hicolor-icon-theme (0.17-2) ...
Processing triggers for fontconfig (2.12.6-0ubuntu2) ...
Processing triggers for mime-support (3.60ubuntu1) ...
Processing triggers for libc-bin (2.27-3ubuntu1.6) ...

In [3]:
# configurar as variÃ¡veis de ambiente
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.4-bin-hadoop2.7"

!pip install -q pyspark
!pip install beautifulsoup4
# tornar o pyspark "importÃ¡vel"
import findspark
findspark.init('spark-2.4.4-bin-hadoop2.7')

     |ââââââââââââââââââââââââââââââââ| 281.3 MB 26 kB/s
     |ââââââââââââââââââââââââââââââââ| 199 kB 38.6 MB/s
  Building wheel for pyspark (setup.py) ... done
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (4.6.3)

In [4]:
from pyspark.sql import SparkSession

In [21]:
from pyspark.sql.functions import max, count, col, desc, asc, lit, sum as sumerize, length
import pyspark.sql.functions as F
from pyspark import sql

In [6]:
from pyspark.sql import DataFrame

In [7]:
from pyspark.sql.functions import when, expr

In [8]:

import pandas as pd
import requests as res
from bs4 import BeautifulSoup as bs
from io import StringIO

url = "https://github.com/MarquesThiago/linear_regresion/blob/master/Housing/USA_Housing.csv"
get = res.get(url=url)
soup = bs(get.content, "html.parser")
table = soup.select("table[data-tagsearch-path]")
list_texts = table[0].select(".blob-code")
texts = [text.get_text() for text in list_texts]
file_csv = "\n".join(texts) 
csv = StringIO(file_csv)

test = pd.read_csv(csv, error_bad_lines=False, sep = ",")
test.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701..."
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06,"188 Johnson Views Suite 079\nLake Kathleen, CA..."
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06,"9127 Elizabeth Stravenue\nDanieltown, WI 06482..."
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06,USS Barnett\nFPO AP 44820
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05,USNS Raymond\nFPO AE 09386

In [9]:
sc = SparkSession.builder.master("local[*]").getOrCreate()

In [10]:

# carregar dados do Airbnb
df_spark = sc.read.csv("/content/sample_data/california_housing_train.csv", inferSchema=True, header=True)
sparkDF=sc.createDataFrame(test) 

# ver algumas informaÃ§Ãµes sobre os tipos de dados de cada coluna
print("primeiro dataframe")
df_spark.printSchema()
print("segundo dataframe")
sparkDF.printSchema()

primeiro dataframe
root
 |-- longitude: double (nullable = true)
 |-- latitude: double (nullable = true)
 |-- housing_median_age: double (nullable = true)
 |-- total_rooms: double (nullable = true)
 |-- total_bedrooms: double (nullable = true)
 |-- population: double (nullable = true)
 |-- households: double (nullable = true)
 |-- median_income: double (nullable = true)
 |-- median_house_value: double (nullable = true)

segundo dataframe
root
 |-- Avg. Area Income: double (nullable = true)
 |-- Avg. Area House Age: double (nullable = true)
 |-- Avg. Area Number of Rooms: double (nullable = true)
 |-- Avg. Area Number of Bedrooms: double (nullable = true)
 |-- Area Population: double (nullable = true)
 |-- Price: double (nullable = true)
 |-- Address: string (nullable = true)

In [11]:
# realizando casting da idede media da casa de ponto flutauante para inteiro
treat_df = df_spark.withColumn('house_age', df_spark.housing_median_age.cast('int')).drop('housing_median_age')
treat_df.show()

+---------+--------+-----------+--------------+----------+----------+-------------+------------------+---------+
|longitude|latitude|total_rooms|total_bedrooms|population|households|median_income|median_house_value|house_age|
+---------+--------+-----------+--------------+----------+----------+-------------+------------------+---------+
|  -114.31|   34.19|     5612.0|        1283.0|    1015.0|     472.0|       1.4936|           66900.0|       15|
|  -114.47|    34.4|     7650.0|        1901.0|    1129.0|     463.0|         1.82|           80100.0|       19|
|  -114.56|   33.69|      720.0|         174.0|     333.0|     117.0|       1.6509|           85700.0|       17|
|  -114.57|   33.64|     1501.0|         337.0|     515.0|     226.0|       3.1917|           73400.0|       14|
|  -114.57|   33.57|     1454.0|         326.0|     624.0|     262.0|        1.925|           65500.0|       20|
|  -114.58|   33.63|     1387.0|         236.0|     671.0|     239.0|       3.3438|           74000.0|       29|
|  -114.58|   33.61|     2907.0|         680.0|    1841.0|     633.0|       2.6768|           82400.0|       25|
|  -114.59|   34.83|      812.0|         168.0|     375.0|     158.0|       1.7083|           48500.0|       41|
|  -114.59|   33.61|     4789.0|        1175.0|    3134.0|    1056.0|       2.1782|           58400.0|       34|
|   -114.6|   34.83|     1497.0|         309.0|     787.0|     271.0|       2.1908|           48100.0|       46|
|   -114.6|   33.62|     3741.0|         801.0|    2434.0|     824.0|       2.6797|           86500.0|       16|
|   -114.6|    33.6|     1988.0|         483.0|    1182.0|     437.0|        1.625|           62000.0|       21|
|  -114.61|   34.84|     1291.0|         248.0|     580.0|     211.0|       2.1571|           48600.0|       48|
|  -114.61|   34.83|     2478.0|         464.0|    1346.0|     479.0|        3.212|           70400.0|       31|
|  -114.63|   32.76|     1448.0|         378.0|     949.0|     300.0|       0.8585|           45000.0|       15|
|  -114.65|   34.89|     2556.0|         587.0|    1005.0|     401.0|       1.6991|           69100.0|       17|
|  -114.65|    33.6|     1678.0|         322.0|     666.0|     256.0|       2.9653|           94900.0|       28|
|  -114.65|   32.79|       44.0|          33.0|      64.0|      27.0|       0.8571|           25000.0|       21|
|  -114.66|   32.74|     1388.0|         386.0|     775.0|     320.0|       1.2049|           44000.0|       17|
|  -114.67|   33.92|       97.0|          24.0|      29.0|      15.0|       1.2656|           27500.0|       17|
+---------+--------+-----------+--------------+----------+----------+-------------+------------------+---------+
only showing top 20 rows

In [12]:
# retornado os 10 maiores valores de case 
treat_df.sort(col('median_house_value').desc()).show(10)

+---------+--------+-----------+--------------+----------+----------+-------------+------------------+---------+
|longitude|latitude|total_rooms|total_bedrooms|population|households|median_income|median_house_value|house_age|
+---------+--------+-----------+--------------+----------+----------+-------------+------------------+---------+
|  -117.23|   32.99|     2718.0|         326.0|    1011.0|     319.0|      15.0001|          500001.0|       17|
|  -117.23|   33.01|     3961.0|         511.0|    1541.0|     470.0|      11.1118|          500001.0|       18|
|  -117.19|   32.76|     1294.0|         175.0|     434.0|     180.0|       5.7914|          500001.0|       52|
|  -116.43|   33.75|     2596.0|         438.0|     473.0|     237.0|       3.7727|          500001.0|       24|
|  -117.19|   32.75|     1495.0|         230.0|     459.0|     190.0|       8.1548|          500001.0|       52|
|  -117.08|   34.08|       45.0|          11.0|      39.0|      14.0|       3.0625|          500001.0|       34|
|  -117.18|   33.51|      270.0|          42.0|     120.0|      42.0|        6.993|          500001.0|       13|
|  -117.22|   33.87|       56.0|           7.0|      39.0|      14.0|        2.625|          500001.0|       16|
|  -117.21|   33.03|     3370.0|         433.0|    1020.0|     408.0|      11.0911|          500001.0|       20|
|  -117.17|   32.69|     2236.0|         331.0|     767.0|     316.0|       5.3177|          500001.0|       40|
+---------+--------+-----------+--------------+----------+----------+-------------+------------------+---------+
only showing top 10 rows

In [13]:
treat_df.createOrReplaceTempView("house")

sc.sql("SELECT * FROM house ORDER BY median_income desc limit 10 ").show()

sc.catalog.dropTempView("house")

+---------+--------+-----------+--------------+----------+----------+-------------+------------------+---------+
|longitude|latitude|total_rooms|total_bedrooms|population|households|median_income|median_house_value|house_age|
+---------+--------+-----------+--------------+----------+----------+-------------+------------------+---------+
|  -118.04|   34.13|      249.0|          31.0|     268.0|      29.0|      15.0001|          500001.0|       35|
|  -118.34|   34.08|     1721.0|         195.0|     688.0|     196.0|      15.0001|          500001.0|       52|
|  -118.06|   33.72|     2665.0|         331.0|     964.0|     319.0|      15.0001|          500001.0|       14|
|  -118.19|   34.19|     2061.0|         260.0|     825.0|     254.0|      15.0001|          500001.0|       34|
|  -118.33|   34.06|     1841.0|         240.0|     693.0|     218.0|      15.0001|          500001.0|       52|
|  -118.32|   34.06|      955.0|         100.0|     457.0|     120.0|      15.0001|          500001.0|       52|
|  -117.23|   32.99|     2718.0|         326.0|    1011.0|     319.0|      15.0001|          500001.0|       17|
|  -118.33|   34.07|     2248.0|         255.0|     813.0|     265.0|      15.0001|          500001.0|       52|
|  -118.18|   34.19|     1371.0|         164.0|     528.0|     155.0|      15.0001|          500001.0|       48|
|  -118.12|   34.12|     2907.0|         317.0|     956.0|     279.0|      15.0001|          500001.0|       52|
+---------+--------+-----------+--------------+----------+----------+-------------+------------------+---------+

In [14]:
def faixa_idade(x): 
  if x < 1:
    return "new"
  elif x >= 1 and x < 5:
    return "atual house"
  elif x >= 5 and x < 20:
    return "modern house"
  elif x >= 20 and x < 50:
    return "contemporary house"
  else:
    return "old house"

In [15]:

df3 = treat_df.select(
    col("*"),
    when(col('house_Age') < 1, 'new')
    .when(
        (col('house_Age') >= 1) & (col('house_Age') < 5), "atual house")
    .when(
        (col('house_Age') >= 5) & (col('house_Age') < 20), "modern house")
    .when(
        (col('house_Age') >= 20) & (col('house_Age') < 50), "contemporary house")
    .otherwise("old house").alias("range_age_house")

)

In [16]:
df3.show(10)

+---------+--------+-----------+--------------+----------+----------+-------------+------------------+---------+------------------+
|longitude|latitude|total_rooms|total_bedrooms|population|households|median_income|median_house_value|house_age|   range_age_house|
+---------+--------+-----------+--------------+----------+----------+-------------+------------------+---------+------------------+
|  -114.31|   34.19|     5612.0|        1283.0|    1015.0|     472.0|       1.4936|           66900.0|       15|      modern house|
|  -114.47|    34.4|     7650.0|        1901.0|    1129.0|     463.0|         1.82|           80100.0|       19|      modern house|
|  -114.56|   33.69|      720.0|         174.0|     333.0|     117.0|       1.6509|           85700.0|       17|      modern house|
|  -114.57|   33.64|     1501.0|         337.0|     515.0|     226.0|       3.1917|           73400.0|       14|      modern house|
|  -114.57|   33.57|     1454.0|         326.0|     624.0|     262.0|        1.925|           65500.0|       20|contemporary house|
|  -114.58|   33.63|     1387.0|         236.0|     671.0|     239.0|       3.3438|           74000.0|       29|contemporary house|
|  -114.58|   33.61|     2907.0|         680.0|    1841.0|     633.0|       2.6768|           82400.0|       25|contemporary house|
|  -114.59|   34.83|      812.0|         168.0|     375.0|     158.0|       1.7083|           48500.0|       41|contemporary house|
|  -114.59|   33.61|     4789.0|        1175.0|    3134.0|    1056.0|       2.1782|           58400.0|       34|contemporary house|
|   -114.6|   34.83|     1497.0|         309.0|     787.0|     271.0|       2.1908|           48100.0|       46|contemporary house|
+---------+--------+-----------+--------------+----------+----------+-------------+------------------+---------+------------------+
only showing top 10 rows

In [17]:
treat_df.withColumn('range_age_house', expr(
    "CASE "
    +"WHEN house_age = 1 THEN 'new' "
    +"WHEN house_age >= 1 AND house_age < 5 THEN 'atual_house' "
    +"WHEN house_age >= 5 AND house_age < 20 THEN 'modern house' "
    +"WHEN house_age >= 20 AND house_age < 50 THEN 'contemporary house' "
    +"ELSE 'old house' "
    +"END")
).show(10)

+---------+--------+-----------+--------------+----------+----------+-------------+------------------+---------+------------------+
|longitude|latitude|total_rooms|total_bedrooms|population|households|median_income|median_house_value|house_age|   range_age_house|
+---------+--------+-----------+--------------+----------+----------+-------------+------------------+---------+------------------+
|  -114.31|   34.19|     5612.0|        1283.0|    1015.0|     472.0|       1.4936|           66900.0|       15|      modern house|
|  -114.47|    34.4|     7650.0|        1901.0|    1129.0|     463.0|         1.82|           80100.0|       19|      modern house|
|  -114.56|   33.69|      720.0|         174.0|     333.0|     117.0|       1.6509|           85700.0|       17|      modern house|
|  -114.57|   33.64|     1501.0|         337.0|     515.0|     226.0|       3.1917|           73400.0|       14|      modern house|
|  -114.57|   33.57|     1454.0|         326.0|     624.0|     262.0|        1.925|           65500.0|       20|contemporary house|
|  -114.58|   33.63|     1387.0|         236.0|     671.0|     239.0|       3.3438|           74000.0|       29|contemporary house|
|  -114.58|   33.61|     2907.0|         680.0|    1841.0|     633.0|       2.6768|           82400.0|       25|contemporary house|
|  -114.59|   34.83|      812.0|         168.0|     375.0|     158.0|       1.7083|           48500.0|       41|contemporary house|
|  -114.59|   33.61|     4789.0|        1175.0|    3134.0|    1056.0|       2.1782|           58400.0|       34|contemporary house|
|   -114.6|   34.83|     1497.0|         309.0|     787.0|     271.0|       2.1908|           48100.0|       46|contemporary house|
+---------+--------+-----------+--------------+----------+----------+-------------+------------------+---------+------------------+
only showing top 10 rows

### **FILTER in PYSpark**

In [18]:
df3.filter("range_age_house == 'new'").show()

+---------+--------+-----------+--------------+----------+----------+-------------+------------------+---------+---------------+
|longitude|latitude|total_rooms|total_bedrooms|population|households|median_income|median_house_value|house_age|range_age_house|
+---------+--------+-----------+--------------+----------+----------+-------------+------------------+---------+---------------+
+---------+--------+-----------+--------------+----------+----------+-------------+------------------+---------+---------------+

In [19]:
df3.filter(col("range_age_house") == 'old house').show(10, truncate = False)

+---------+--------+-----------+--------------+----------+----------+-------------+------------------+---------+---------------+
|longitude|latitude|total_rooms|total_bedrooms|population|households|median_income|median_house_value|house_age|range_age_house|
+---------+--------+-----------+--------------+----------+----------+-------------+------------------+---------+---------------+
|-116.88  |34.08   |3419.0     |777.0         |710.0     |265.0     |3.9028       |128600.0          |52       |old house      |
|-117.1   |32.76   |2606.0     |426.0         |883.0     |380.0     |4.2813       |270800.0          |52       |old house      |
|-117.11  |32.77   |1506.0     |233.0         |478.0     |240.0     |4.3875       |300000.0          |52       |old house      |
|-117.11  |32.77   |1484.0     |224.0         |498.0     |223.0     |6.6053       |331400.0          |52       |old house      |
|-117.11  |32.77   |1729.0     |355.0         |617.0     |337.0     |3.6705       |167000.0          |50       |old house      |
|-117.11  |32.67   |280.0      |71.0          |217.0     |71.0      |1.4844       |83300.0           |52       |old house      |
|-117.11  |32.67   |204.0      |74.0          |248.0     |57.0      |1.7961       |47500.0           |52       |old house      |
|-117.12  |32.74   |1969.0     |389.0         |877.0     |424.0     |3.79         |163400.0          |52       |old house      |
|-117.12  |32.73   |2307.0     |424.0         |887.0     |356.0     |3.5156       |168800.0          |50       |old house      |
|-117.13  |32.75   |1476.0     |354.0         |698.0     |354.0     |3.0          |168800.0          |50       |old house      |
+---------+--------+-----------+--------------+----------+----------+-------------+------------------+---------+---------------+
only showing top 10 rows

In [22]:
df3.groupBy('range_age_house').agg(
    count("house_age").alias("counter"), 
    sumerize("median_house_value").alias("sum_value_range"),
    sumerize('median_income').alias("sum_income_range")
    ).show()

+------------------+-------+---------------+------------------+
|   range_age_house|counter|sum_value_range|  sum_income_range|
+------------------+-------+---------------+------------------+
|      modern house|   4568|   8.75698001E8|18844.772299999957|
|       atual house|    258|    5.9676416E7|1351.0287000000008|
|         old house|   1196|   3.24548061E8| 4654.436500000001|
|contemporary house|  10978|  2.264193032E9| 41170.59019999987|
+------------------+-------+---------------+------------------+

In [23]:
schema = df_spark.printSchema()

root
 |-- longitude: double (nullable = true)
 |-- latitude: double (nullable = true)
 |-- housing_median_age: double (nullable = true)
 |-- total_rooms: double (nullable = true)
 |-- total_bedrooms: double (nullable = true)
 |-- population: double (nullable = true)
 |-- households: double (nullable = true)
 |-- median_income: double (nullable = true)
 |-- median_house_value: double (nullable = true)

In [24]:
df_spark.columns

['longitude',
 'latitude',
 'housing_median_age',
 'total_rooms',
 'total_bedrooms',
 'population',
 'households',
 'median_income',
 'median_house_value']

SELECT

In [25]:
df_spark.select(col("longitude")).show(5)

+---------+
|longitude|
+---------+
|  -114.31|
|  -114.47|
|  -114.56|
|  -114.57|
|  -114.57|
+---------+
only showing top 5 rows

In [26]:
df_spark.select(df_spark.longitude, df_spark.latitude).show(5)

+---------+--------+
|longitude|latitude|
+---------+--------+
|  -114.31|   34.19|
|  -114.47|    34.4|
|  -114.56|   33.69|
|  -114.57|   33.64|
|  -114.57|   33.57|
+---------+--------+
only showing top 5 rows

In [27]:
df_spark.select(['longitude',
 'latitude',
 'housing_median_age',
 'total_rooms',
 'total_bedrooms',
 'population']).show()

+---------+--------+------------------+-----------+--------------+----------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|
+---------+--------+------------------+-----------+--------------+----------+
|  -114.31|   34.19|              15.0|     5612.0|        1283.0|    1015.0|
|  -114.47|    34.4|              19.0|     7650.0|        1901.0|    1129.0|
|  -114.56|   33.69|              17.0|      720.0|         174.0|     333.0|
|  -114.57|   33.64|              14.0|     1501.0|         337.0|     515.0|
|  -114.57|   33.57|              20.0|     1454.0|         326.0|     624.0|
|  -114.58|   33.63|              29.0|     1387.0|         236.0|     671.0|
|  -114.58|   33.61|              25.0|     2907.0|         680.0|    1841.0|
|  -114.59|   34.83|              41.0|      812.0|         168.0|     375.0|
|  -114.59|   33.61|              34.0|     4789.0|        1175.0|    3134.0|
|   -114.6|   34.83|              46.0|     1497.0|         309.0|     787.0|
|   -114.6|   33.62|              16.0|     3741.0|         801.0|    2434.0|
|   -114.6|    33.6|              21.0|     1988.0|         483.0|    1182.0|
|  -114.61|   34.84|              48.0|     1291.0|         248.0|     580.0|
|  -114.61|   34.83|              31.0|     2478.0|         464.0|    1346.0|
|  -114.63|   32.76|              15.0|     1448.0|         378.0|     949.0|
|  -114.65|   34.89|              17.0|     2556.0|         587.0|    1005.0|
|  -114.65|    33.6|              28.0|     1678.0|         322.0|     666.0|
|  -114.65|   32.79|              21.0|       44.0|          33.0|      64.0|
|  -114.66|   32.74|              17.0|     1388.0|         386.0|     775.0|
|  -114.67|   33.92|              17.0|       97.0|          24.0|      29.0|
+---------+--------+------------------+-----------+--------------+----------+
only showing top 20 rows

Lenght

In [32]:
# utlizando a funÃ§Ã£o lenght para medir o tamanho de uma string
te = sparkDF.withColumn("len", length("Address"))

In [56]:
te.select(col("len"),

[Column<b'len'>]

In [ ]:

# carregar dados do Airbnb
df_spark = sc.read.csv("/content/sample_data/california_housing_train.csv", inferSchema=True, header=True)
sparkDF=sc.createDataFrame(test) 

# ver algumas informaÃ§Ãµes sobre os tipos de dados de cada coluna
print("primeiro dataframe")
df_spark.printSchema()
print("segundo dataframe")
sparkDF.printSchema()

## MERGE

In [ ]:
df_spark.join(sparkDF, df_spark.median_house_value == sparkDF.Price, "leftouter").show()

In [ ]:
df_spark.join(sparkDF, df_spark.median_house_value == sparkDF.Price, "right").show()